body {
  font-family: Roboto, arial, helvetica, sans-serif;
  font-size: 16px;
}

header {
  background-color: #eeeeee;
  min-width: 1160px;
}

.container {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  /*background-color: red;*/
}
.topline {
  padding-top: 50px;
}
.clearfix::after {
  content: "";
  display:block;
  clear: both;
}

.logo {
  width: 160px;
  height: 73px;
  float: left;
  /*background-color: red;*/
}

.main-nav {
  float: right;
  margin-right:195px;
  padding-top: 15px;
  /*background-color: red;*/
}

.main-nav li {
  /*background-color: red;*/
  margin: 0 auto;
  display: inline-block;
  margin-right: 42px;
}

.main-nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: bolder;
}

.contact {
  margin-right: -2px;
}
.userblock {
  float: right;
  max-width: 140px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 31px 0px 0px 50px;
  position: relative;
  margin-left: 40px;
  /*background-color: red;*/
}

.userblock::before {
  position: absolute;
  top: 21px;
  left: 1px;
  content: "";
  width: 30px;
  height: 30px;
  background: url("../sprite/sprite.png");
}
.icon-trash {
  text-decoration: none;
  color: black;
}
.main-nav li:last-child {
  margin-right: 0;
}

.slide-heading {
  font-size: 55px;
  font-weight: 500;
  text-transform: none;
  line-height: 1.03;
  margin-bottom: 25px;
  margin-top: 68px;
  margin-right: 25px;
}
.slider-controls i{
  display:inline-block;
  width:15px;
  height:15px;
  margin:0 3px;
  background:white;
  border:3px solid white;
  vertical-align:top;
  border-radius:50%;
  cursor:pointer;
  margin-right: 7px;
}
.slider-controls .active{
  background:lightgray;
  border: 3px solid white;
}



.slide-long-expensive {
  background-color: #eeeeee;
  background-image: url(../img/slider-1.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-bottom: 79px;
  /* margin: 0 auto; */
}

.slider-controls {
  text-align: center;
  /* padding-top: 150px; */
  position: absolute;
  top: 432px;
  left: 535px;
}
.slide-p {
  line-height: 26px;
  margin-bottom: 38px;
  vertical-align: top;
}
.slide-button {
  display: inline-block;
  background-color: #fb565a;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 16px 10px 15px;
  min-width: 220px;
  text-decoration: none;
}


.slide-text {
  display: inline-block;
  /*background-color: red;*/
  vertical-align: top;
}

.long-img {
  vertical-align: top;
  display: inline-block;
  /*border: 10px solid pink;*/
}


.text {
  width: 440px;
  display: inline-block;
  /*background-color: red;*/
  vertical-align: top;
  margin-top: 39px;
  line-height:1;
}


.description-heading {
  font-size: 45px;
  font-weight: 500;
  margin-top: 74px;
  line-height: 45px;
}

/*Второй блок*/


.services {
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 56px;
  border-bottom: 2px solid lightgray;
  padding-top: 82px;
  /*background-color: pink;*/
}

.services-item {
  vertical-align: top;
  width: 300px;
  display: inline-block;
  margin-bottom: 25px;
  font-size: 0;
  margin-right: 97px;
}

.services-heading {
  font-size: 24px;
  font-weight: bold;
  margin-top: 27px;
  margin-bottom: 18px;
}
.services-item--yellow {
  margin-right: 0;
}

h2 {
  text-transform: uppercase;
  margin-bottom: 27px;
}
.services-services-item{
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 33px;
}
.booking {
  width: 160px;
  height: 50px;
  display: inline-block;
  color: white;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}
.booking--red {
  background-color: #fb565a;
}

.booking--green {
  background-color: #00ca74;

}

.booking--yellow {
  background-color: #efc84a;
}


/*Третий блок*/
.description-list{
  padding-left: 25px;
  margin-top: 9px;
}

.description{
  margin-: 0 auto;
  background-color: white;
}

.description-item::before{
  content:"";
  background-color: #fb565a;
  width: 25px;
  height: 2px;
  display: block;
  left: -23px;
  position: absolute;
  top: 22px;
}


.description-item {
  display:block;
  line-height: 48px;
  position: relative;
  padding-left: 10px;
}



.description-text {
  width: 660px;
  display: inline-block;
  margin-right: 116px;
  /*background-color: red;*/
}

.description-rule {
  /*background-color: blue;*/
  margin: 34px 0px 42px 0px;
  line-height: 1.5;
}

.description-order{
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 15px;
}

.percent-head{
  text-transform: uppercase;
  /*background-color: blue;*/
  margin: 35px 0px 42px 0px;
  padding-left: 24px;
  text-align: center;
}


.percent {
  text-align: right;
  vertical-align: top;
  width: 380px;
  display: inline-block;
  padding-top: 40px;
  /*background-color: green;*/
  /*border: 3px solid black;*/
}

.main-percent {
  /*background-color: pink;*/
  text-align: center;
  padding-right: 10px;
}

.point {
  display: inline-block;
  /*background-color: red;*/
}




.sign-percent {
  width: 100px;
  text-align: left;
  margin-top: 15px;
  line-height: 17px;
}


.percents {
  /*background-color: pink;*/
  font-size: 45px;
  font-weight: bold;
  margin-right: 8px;
}
.point:first-child {
  margin-right: 13px;
}
/* НЕ РАБОТАЕТ span:last-child {
margin-right: 17px;
background-color: red;
}
*/
.percent-sup {
  margin-right: 5px;
}

.point p {
  padding: 0;
  margin-bottom: 10px;
}

sup {
  top: -0.7em;
  font-size: 25px;
}

/*Четвертый блок*/
.logos{
  opacity: 0.2;
  margin: 0px auto;
  border-top: 2px solid black;
  border-bottom:2px solid black;
  margin-bottom: 78px;
  margin-top: 45px;
  font-size: 0;
  text-align: center;
  /*background-color: #fb565a;*/
}


.gray-dash::after {
  content:"100";
  background-color: black;
  width: 2px;
  height: 54px;
  display: block;
  position: absolute;
  top: 64px;
  left: 281;
  /*left не работает*/
}

.gray-dash {
  display:block;
  position: relative;
  font-size: 0;
  /*background-color: red;*/
}
.gray-dash:last-child {
  margin-right: 0px;
  /*background-color: red;*/
}
.logos a {
  display: inline-block;
  width: 260px;
  margin: 0 20px;
  text-align: center;
}

.logos a:first-child{
  margin-left:0;
}
.logos a:last-child{
  margin-right:0;
}
.logos a:last-child:after{
  display: none;
}

/*Пятый блок*/

.map {
  position: relative;
  width: auto;
  min-width: 1160px;
  margin-bottom: 20px;
  /**background-color: red;
  border: 10px solid black;*/
}


.adress {
  padding-top: 35px;
  text-align: left;
  position: absolute;
  background-color: white;
  width: 271px;
  height: 276px;
  left:50%;
  top:58px;
  transform: translateX(-580px);
  padding-left: 52px;
}
.adress-logo {
  font-size: 18px;
  text-transform: uppercase;
}

.adress-text {
  font-size: 16px;
  margin-top: 27px;
  margin-bottom: 18px;
}
.map-button {
  display: inline-block;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #fb565a;
  padding: 15px 44px 15px;
  text-decoration: none;
}
.page-footer {
  padding-left: 65px;
}
.adress-phone {
  margin-bottom: 40px;
}
/*Шестой блок*/
footer{
  margin: 0 auto;
}

.footersocial{
  display: inline-block;
  width: 300px;
  margin-top: 53px;
  font-size: 0;
  vertical-align: top;
  padding-left: 0px;
  /*background-color: red;*/
}
.social-links {
  display: inline-block;
  background-color: lightgray;
  width: 78px;
  height: 78px;
  border-radius: 100px;
  margin-right: 14px;
  vertical-align: top;
  background-repeat: no-repeat;
}
.link--vk {
  background-image: url(../sprite/social.png);
  background-position: 2px 2px;
}

.link--fb {
  background-image: url(../sprite/social.png);
  background-position: -165px 1px;
}

.link--inst {
  background-image: url(../sprite/social.png);
  background-position: -90px 1px;
}

.footertext h3 {
  padding-top: 55px;
  vertical-align: top;
  display: block;
  margin-bottom: 10px;
  margin-top: 0px;
}
.footertext{
  display: inline-block;
  width:700px;
  /*background-color: green;*/
  margin-left: 98px;
  font-weight: bold;
  padding-bottom: 20px;
}

.ten-percent {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/*#vk{height:28px;width:28px;}
#vk{background:url('img/sprite.png') -63px 10px;}

Красный - *#fb565a/

/*ВТОРАЯ СТРАНИЦА*/

/*.text h1 {
width: 1000px;
text-align: center;
margin-bottom: 115px;
margin-top: 85px;
}*/
.catalog-title {
  margin: 0 auto;
  font-size: 55px;
  text-align: center;
  margin-top: 65px;
  margin-bottom: 60px;
  padding-bottom: 107px;
  /*background-color: pink;*/
}
.container {
  margin: 0 auto;
  width: 1160px;
  /*background-color: orange;*/
}



.main-bloks {
  /*outline: 10px solid black;**/
  width: 1160px;
  margin: 0 auto;
}

.container-catalog {
  width: 1160;
  margin: 0 auto;
  /*background-color: red;*/
}
aside {
  display: inline-block;
  width: 260px;
  /*background-color: pink;*/
  font-size: 0;
  vertical-align: top;
  margin-right: 137px;
}

.form-block-head {
  margin-bottom: 42px;
  font-size: 16px;
  text-transform: uppercase;

  /*background-color: green;*/
}
.form-block {
  margin-bottom: 40px;
  font-size: 16px;
  text-transform: none;
  margin-top: -17px;
  /*background-color: green;*/
}
.form-aside {
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 59px;
  /*background-color: blue;*/
}

.form-heading {
  vertical-align: top;
  display: inline-block;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  margin-right: 271px;
  margin-bottom: 37px;
  /*background-color: yellow;*/
}
.range-filter {
  width: 260px;
}
.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 13px;
  border-radius: 5px;
  background: #f1f1f1;
  margin-top: 17px;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 145px;
}
.price-controls {
  font-size: 0;
}
.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}
.max-price {
  text-align: right;
}
.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 8px;
  padding: 10px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}
/*.sort-img {
padding-bottom: 12px;
padding-top: 30px;
}*/

.catalog-item {
  background: url("../img/browser.png");
  background-repeat: no-repeat;
  background-position: 50% 50%
  width: 100%;
  border-top: none;
  padding-top: 40px;
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 13px;
  /*outline: 10px solid pink;*/
}

.catalog-item:nth-child(odd) {
  margin-right: 40px;
  margin-top: 13px;
}

.main-catalog{
  display: inline-block;
  font-size: 0;
  /*background-color: green;*/
  width: 751px;
  margin-top: -4px;
}
.sort-catalog-main {
  /*background-color: orange;*/
  font-size: 0px;
  margin-bottom: 62px;
  width: 760px;
  margin-left: 9px;

}
.form-sort {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  float: left;
  margin-left: -10px;

}
.catalog-sort-ul {
  float: right;
  /*background-color: green;*/
  width: 350;
  text-align: right;
  padding-left: 0;
  margin-right: 11px;
  margin-top: 3px;
}

.clearfix::after {
  content: "";
  display:block;
  clear: both;
}
a {
  text-decoration: none;
}
.catalog-sorts {
  display: inline-block;
  margin-right: 36px;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.catalog-sorts:last-child {
  margin-right: 0;
  /*background-color: pink;*/
}

.catalog-list {
  width: 760px;
  /*background-color: pink;*/
}

.goods {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 36px;
}

input[type="radio"]{
  display: none;
}

input[type="radio"] + label {
  display: block;
  margin: 0 0 10px;
  line-height: 20px;
  padding-left: 38px;
  position: relative;
  cursor: pointer;
  padding-bottom: 10px;
  font-size: 16px;
  /*background-color: red;*/
}

input[type="radio"] + label::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  /*border: 5px solid lightgrey;*/
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/radio-off.png");
  background-repeat: no-repeat;
  opacity: 0.5;
}

input[type="radio"]:checked + label::before {
  background-image: url("../img/radio-on.png");
}

input[type="checkbox"]{
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  margin: 0px 0 10px;
  line-height: 20px;
  padding-left: 38px;
  position: relative;
  cursor: pointer;
  /*background-color: red;*/
  padding-bottom: 11px;
  font-size: 16px;
}

input[type="checkbox"] + label::before {
  content: "";
  display: block;
  width: 27px;
  height: 23px;
  /*border: 5px solid lightgrey;*/
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/checkbox-off.png");
  background-repeat: no-repeat;
  opacity: 0.5;
}

input[type="checkbox"]:checked + label::before {
  background-image: url("../img/checkbox-on.png");
}

.input-text {
  background-color: #eeeeee; /*серый*/
  border-radius: 5px;
  width: 80px;
  height: 35px;
  text-align: center;
  margin-right: 29px;
  margin-top: 5px;
  border: none;
}

.input-texts {
  background-color: #eeeeee; /*серый*/
  border-radius: 5px;
  width: 80px;
  height: 35px;
  text-align: center;
  margin-top: 5px;
  border: none;
}



.mesh {
  display: inline-block;
}

.featur {
  font-size: 16px;
  text-transform: none;
  font-weight: normal;
  padding: 0;
  margin: 0 0 10px 0;
}

.show-aside {
  display: block;
  background-color: #eeeeee;
  border-radius: 2px;
  width: 260px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  margin-top: 1px;
  text-transform: uppercase;
  color: black;
  font-size: 16px;
  font-weight: 700;
}


.transporent {
  opacity: 0.3;
  text-decoration: none;
  color: black;
}

.page-catalog {
  padding-left: 0;
  font-size: 14px;
  margin-top: 29px;
      margin-bottom: 61px;
}

.paginator {
  display: inline-block;
  border-radius: 2px;
  border: #eeeeee solid 4px;
  margin-top: 0px;
  background-color: #eeeeee;
  text-align: center;
  margin-right: 9px;
  font-size: 16px;
  font-weight: 500;
  color: black;
  padding: 13px 16px;
  list-style: none;
}

.paginator:first-child {
  background-color: white;
  border: lightgray solid 4px;
}

.paginator:last-child {
  padding: 13px 74px;
  text-transform: uppercase;
}

.next {
  border-radius: 2px;
  background-color: #eeeeee;
  width: 260px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-right: 9px;
  margin-bottom: 48px;
}

h3 {
  font-size: 36px;
  margin-bottom: 0;
}

.footers {
  margin-bottom: 12px;
  font-weight: normal;
}

.footersocial-catalog {
  margin-top:45px;
  display: inline-block;
}
.social-link {
  posi
}
.footertext-catalog {
  display: inline-block;
  margin-left: 118px;
  vertical-align: top;
  margin-top: 10px;
}

#ten-percent-catalog {
  margin-top: 8px;
}
