body {
  font-family: Roboto, arial, helvetica, sans-serif;
  font-size: 16px;
}

header {
  background-color: #eeeeee;
  min-width: 1160px;
}

.container {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  /*background-color: red;*/
}
.topline {
  padding-top: 50px;
}
.clearfix::after {
content: "";
display:block;
clear: both;
}

.logo {
  width: 160px;
  height: 73px;
  float: left;
    /*background-color: red;*/
}

.main-nav {
  float: right;
  margin-right:195px;
  padding-top: 13px;
  /*background-color: red;*/
}

li {
  /*background-color: red;*/
  margin: 0 auto;
  display: inline-block;
  margin-right: 42px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: bolder;
}
.userblock {
  float: right;
  max-width: 140px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 30px 0px 0px 50px;
  position: relative;
  margin-left: 40px;
  /*background-color: red;*/
}

.userblock::before {
  position: absolute;
  top: 19px;
  left: 1px;
  content: "";
  width: 30px;
  height: 30px;
  background: url("../sprite/sprite.png");
}

li:last-child {
  margin-right: 0;
}

.long-expensive {
  font-size: 55px;
  font-weight: 500;
  text-transform: none;
  line-height: 1.1;
  margin-bottom: 20px;
  margin-top: 65px;
  margin-right: 25px;
  }
.slide-p {
line-height: 1.5;
margin-bottom: 38px;
vertical-align: top;
}
.button {
  display: inline-block;
  background-color: #fb565a;
  border-radius: 5px;
  width: 240px;
  height: 35px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding-top: 16px;
}
.slider {
  /*background-color: red;*/
  display: inline-block;
  width: 700px;
    /*border: 5px solid green;*/
}

.slide {
  width: 1160px;
  /*border: 10px solid green;*/
}

.long-text {
  display: inline-block;
  /*background-color: red;*/
  vertical-align: top;
}

.long-img {
  vertical-align: top;
  display: inline-block;
  /*border: 10px solid pink;*/
}


.text {
  width: 440px;
  display: inline-block;
  /*background-color: red;*/
  vertical-align: top;
  margin-top: 39px;
  line-height:1;
}


.description-heading {
font-size: 45px;
}

/*Второй блок*/


.services {
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 56px;
  border-bottom: 2px solid lightgray;
  padding-top: 80px;
  /*background-color: pink;*/
}

.services-item {
  vertical-align: top;
  width: 300px;
  display: inline-block;
  margin-bottom: 25px;
  font-size: 0;
  margin-right: 100px;
}

.services-heading{
  font-size: 24px;
  font-weight: bold;
}
.services-item--yellow {
  width: 300px;
  display: inline-block;
  margin-right: 0;
  margin-bottom: 25px;
  font-size: 16px;
}

h2 {
  text-transform: uppercase;
  margin-bottom: 27px;
}
.services-services-item{
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 35px;
}
.booking {
  width: 160px;
  height: 50px;
  display: inline-block;
  color: white;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  text-transform: uppercase;
}
.booking--red {
  background-color: #fb565a;
}

.booking--green {
  background-color: #00ca74;
}

.booking--yellow {
background-color: #efc84a;
}


/*Третий блок*/
.description-list{
  padding-left: 25px;
}

.description{
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.description-item::before{
content:"";
background-color: #fb565a;
width: 20px;
height: 2px;
display: block;
left: -25px;
position: absolute;
top: 20px;
}


.description-item {
  display:block;
  line-height: 2.9;
  position: relative;
}



.description-text {
  width: 660px;
  display: inline-block;
  margin-right: 116px;
  /*background-color: red;*/
}

.percent-head{
  text-transform: uppercase;
  /*background-color: blue;*/
  margin: 0px 0px 35px 0px;
}

.rule {
  /*background-color: blue;*/
  margin: 26px 0px 45px 0px;
  line-height: 1.5;
}
.percent {
  text-align: right;
  vertical-align: top;
  width: 380px;
  display: inline-block;
  padding-top: 40px;
  /*background-color: green;*/
  /*border: 3px solid black;*/
}

.percent h4 {
  padding-left: 30px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 43px;
  /*background-color: pink;*/
}

.main-percent {
  /*background-color: pink;*/
  text-align: center;
}

.point {
  text-align: center;
  display: inline-block;
  /*background-color: red;*/
  margin-left: 10px;
}

.sign-percent {
  width: 100px;
  text-align: left;
  margin-top: 20px;
  line-height: 1;
}
.sign-percent {
  width: 100px;

  text-align: left;
  margin-top: 20px;
  line-height: 1;
  /*background-color: pink;*/
}

.percents{
  /*background-color: pink;*/
  font-size: 45px;
  font-weight: bold;
}


.point p {
  padding: 0;
  margin-bottom: 10px;
}

sup {
  top: -0.5em;
  font-size: 25px;
}



/*Четвертый блок*/
.logos{
  opacity: 0.2;
  width: 1160px;
  margin: 0px auto;
  border-top: 2px solid black;
  border-bottom:2px solid black;
  margin-bottom: 78px;
  margin-top: 50px;
  /*background-color: #fb565a;*/
}


.gray-dash::after {
  content:"100";
  background-color: black;
  width: 2px;
  height: 54px;
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
}

.gray-dash {
  display:block;
  position: relative;
  font-size: 0;
  /*background-color: red;*/
}

.logos a {
  display: inline-block;
  width: 280px;
}

/*Пятый блок*/

.map {
  position: relative;
  width: auto;
  min-width: 1160px;
  margin-bottom: 20px;
  /**background-color: red;
  border: 10px solid black;*/
}


.adress {
  padding-top: 30px;
  text-align: left;
  position: absolute;
  background-color: white;
  width: 320px;
  height: 278px;
  left:50%;
  top:50px;
  transform: translateX(-580px);
  padding-left: 20px;
}

/*Шестой блок*/
footer{
  width: 1160px;
  margin: 0 auto;
}

.footersocial{
  display: inline-block;
  width: 300px;
  margin-top: 10px;
  font-size: 0;
  vertical-align: top;
  /*background-color: red;*/
}
.link-vk {
  display: inline-block;
  background-color: lightgray;
  width: 78px;
  height: 78px;
  border-radius: 100px;
  margin-right: 14px;
  background-image: url(../sprite/social.png);
  background-repeat: no-repeat;
  background-position: 2px 2px;
  vertical-align: top;
  }

.link-fb {
  display: inline-block;
  background-color: lightgray;
  width: 78px;
  height: 78px;
  border-radius: 100px;
  margin-right: 14px;
  background-image: url(../sprite/social.png);
  background-repeat: no-repeat;
  background-position: -165px 1px;
  }

.link-inst {
  display: inline-block;
  background-color: lightgray;
  width: 78px;
  height: 78px;
  border-radius: 100px;
  margin-right: 14px;
  margin-left: -5px;
  background-image: url(../sprite/social.png);
  background-repeat: no-repeat;
  background-position: -90px 1px;
}

.footertext h3 {
  vertical-align: top;
  display: block;
  margin-bottom: 25px;
  margin-top: 0px;
}
.footertext{
  display: inline-block;
  width:700px;
  /*background-color: green;*/
  margin-left: 98px;
  font-weight: bold;
  padding-bottom: 20px;
}

#ten-percent {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/*#vk{height:28px;width:28px;}
#vk{background:url('img/sprite.png') -63px 10px;}

Красный - *#fb565a/

/*ВТОРАЯ СТРАНИЦА*/

/*.text h1 {
width: 1000px;
text-align: center;
margin-bottom: 115px;
margin-top: 85px;
}*/


.catalog-title {
  margin: 0 auto;
  font-size: 55px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 60px;
  padding-bottom: 115px;
  /*background-color: pink;*/
}

main {
  margin: 0 auto;
  width: 1160px;
  /*background-color: orange;*/

}
aside {
  display: inline-block;
  width: 250px;
  /*background-color: red;*/
  font-size: 0;
  vertical-align: top;
  margin-right: 140px;
}

.form-block {
  margin-bottom: 50px;
  font-size: 20px;
  /*background-color: green;*/
}
.form-aside {
display: inline-block;
/*background-color: blue;*/
}

.form-heading {
  vertical-align: top;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 265px;
  margin-bottom: 59px;

  /*background-color: yellow;*/
}

.sort-img {
  padding-top: 10px;
  padding-bottom: 5px;
}

.catalog-item {
  background: url("../img/browser.png");
  background-repeat: no-repeat;
  background-position: 50% 50%
  width: 100%;
  border-top: none;
  padding-top: 40px;
  display: inline-block;
  margin-top: 7px;
/*outline: 10px solid pink;*/
}

.catalog-item:nth-child(odd) {
  margin-right: 40px;
}

.main-catalog{
  display: inline-block;
  font-size: 0;
  /*background-color: green;*/
  width: 760px;
}
.sort-catalog-main {
  /*background-color: orange;*/
  font-size: 0px;
}

.catalog-sort-ul {
  display: inline-block;
  /*background-color: green;*/
  padding: 0;
  width: 350;
  text-align: right;
}

.catalog-sorts {
  display: inline-block;
  margin-right: 26px;
  font-size: 14px;
}

.catalog-sorts:last-child {
  margin-right: 0;
  opacity: 0.2;
}


.goods {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 36px;
}

input[type="radio"]{
  display: none;
}

input[type="radio"] + label {
  display: block;
  margin: 10px 0;
  line-height: 20px;
  padding-left: 38px;
  position: relative;
  cursor: pointer;
  padding-bottom: 10px
  /*background-color: red;*/
}

input[type="radio"] + label::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  /*border: 5px solid lightgrey;*/
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/radio-off.png");
  background-repeat: no-repeat;
  opacity: 0.5;
}

input[type="radio"]:checked + label::before {
background-image: url("../img/radio-on.png");
}

input[type="checkbox"]{
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  margin: 10px 0;
  line-height: 20px;
  padding-left: 38px;
  position: relative;
  cursor: pointer;
  /*background-color: red;*/
  padding-bottom: 11px;
}

input[type="checkbox"] + label::before {
  content: "";
  display: block;
  width: 27px;
  height: 23px;
  /*border: 5px solid lightgrey;*/
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/checkbox-off.png");
  background-repeat: no-repeat;
  opacity: 0.5;
}

input[type="checkbox"]:checked + label::before {
background-image: url("../img/checkbox-on.png");
}

#input-text {
  background-color: #eeeeee; /*серый*/
  border-radius: 5px;
  width: 80px;
  height: 30px;
  text-align: center;
  margin-right: 27px;
  margin-top: 5px;
}

#input-texts {
  background-color: #eeeeee; /*серый*/
  border-radius: 5px;
  width: 76px;
  height: 30px;
  text-align: center;
  margin-top: 5px;
}

label {
  padding-right: 6px;
}

.mesh {
  display: inline-block;
}

.featur {
  font-size: 16px;
  text-transform: none;
  font-weight: normal;
  padding: 0;
  margin: 0 0 10px 0;
}

.show-aside {
  display: block;
  background-color: #eeeeee;
  border-radius: 2px;
  width: 260px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-top: 38px;
  font-size: 16px;
}

.main {
  width: 218px;
  display: inline-block;
  margin-right: 110px;
  font-size: 18px;
}

.transporent {
  opacity: 0.3;
}

.page-catalog {
  padding-left: 0;
  font-size: 14px;
}

.paginator {
  border-radius: 2px;
  margin-top: 60px;
  background-color: #eeeeee;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-right: 10px;
}

.paginator:first-child {
  background-color: white;
  border: #dbdbdb solid 5px;
  border-radius: 5px;
  height: 42px;
  width: 42px;
  vertical-align: top;
  line-height: 42px;
}

.next {
  border-radius: 2px;
  margin-top: 60px;
  background-color: #eeeeee;
  width: 260px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-right: 10px;
}

h3 {
  font-size: 36px;
  margin-bottom: 0;
}

.footers {
  margin-bottom: 12px;
  font-weight: normal;
}

.footersocial-catalog {
  margin-top:45px;
  display: inline-block;
}
.social-link {
  posi
}
.footertext-catalog {
  display: inline-block;
  margin-left: 118px;
  vertical-align: top;
  margin-top: 10px;
}

#ten-percent-catalog {
  margin-top: 8px;
}
