body {
  margin: 0;
  padding: 0;
  font-family: Roboto, arial, helvetica, sans-serif;
  font-size: 16px;
  /*background-image:url(img/nerds-catalog.jpg);
background-position: center bottom;  Положение фона
background-repeat: no-repeat;  */
}


header {
  background-color: #eeeeee;
  height: 542px;

  }

.container {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  }
.logo {
  width: 160px;
  height: 115px;
  position: absolute;
  background-image: url(img/nerds-logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 50px;
  }

.nerdslogo {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

nav {
  display: inline-block;
  width: 520px;
  margin-left: 300px;
  padding-top: 80px;

}
li {
  margin: 0 auto;
  display: inline-block;
  margin-right: 50px;

}


a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: bolder;
}
.userblock {
   position: absolute;;
   max-width: 140px;
   right: 0px;
   top: 25px;
   text-transform: uppercase;
   font-weight: bold;
   padding: 70px 10px 10px 50px;
}

.userblock::before {
  position: absolute;
  top: 59px;
  left: 5px;
  content: "";
  width: 30px;
  height: 30px;
  background:
  url("sprite/sprite.png");
  background-position: top left;
}



.button {
  display: inline-block;
  background-color: #fb565a;
  border-radius: 5px;
  width: 240px;
  height: 35px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding-top: 16px;

}
.features {
  width: 1160px;
  margin: 0 auto;


}

.text {
  vertical-align: top;
  width: 440px;
  display: inline-block;

}

h1 {
  font-weight: bold;
  font-size: 45px;
}
p {

  margin-bottom: 40px;
}

.slider {
  display: inline-block;
width: 700px;
}




/*Второй блок*/



  .services {
    width: 1160px;
    margin: 0 auto;
    padding-bottom: 80px;
    border-bottom: 2px solid lightgray;
    padding-top: 80px;
    /*background-color: pink;*/
    }

.services-item {
  width: 300px;
  display: inline-block;
  margin-right: 100px;
  margin-bottom: 25px;
}
.services-itemyellow {
  width: 300px;
  display: inline-block;
  margin-right: 0;
  margin-bottom: 25px;
}

h2 {
  text-transform: uppercase;
  margin-bottom: 27px;
}

.bookingr {
  background-color: #fb565a;
  width: 160px;
  height: 35px;
  display: inline-block;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;
}

.bookingg {
  width: 160px;
  height: 35px;
  display: inline-block;
  background-color: #00ca74;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;
}

.bookingy {
  width: 160px;
  height: 35px;
  background-color: #efc84a;
  display: inline-block;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;

}


/*Третий блок*/


.description{
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}


.descriptionli {
  display:block;
  line-height: 2.1;

  }
h6 {
  font-size: 45px;
/*  background-color: blue;*/
  margin: 100px 0px 10px 0px;

  vertical-align: top;
  }
.dash {

  width: 100px;
  font-size: 20px;
  color: red;
  font-weight: bold;
}

.descriptionText {
  width: 660px;
  display: inline-block;
padding-right: 116px;
}

ul {
  padding: 0;
}

.rule {
/*background-color: blue;*/
margin: 0px 0px 45px 0px;
line-height: 1.5;

}
.percent {
  vertical-align: top;
  width: 360px;
  display: inline-block;
  padding-top: 40px;

  /*background-color: green;
  border: 3px solid black;*/
}

.percent h4 {
margin-top: 20px;


  /*background-color: pink;
    */
}

h4 {
  text-transform: uppercase;
  /*background-color: blue;*/
  margin: 0px 0px 33px 15px;


}

.point {
display: inline-block;
/*background-color: red;*/
margin-right: 20px;


}

.point1 {
  vertical-align: top;
display: inline-block;
/*background-color: red;*/
margin-right: 0;

}



.percents{

  /*background-color: pink;*/
  font-size: 45px;
  font-weight: bold;
  top: -0.2em;

  }



.point p {

  padding: 0;
  margin-bottom: 10px;

}
sup {
top: -0.5em;
font-size: 25px;
  }


.percent h4 {
  /*background-color: red;*/
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 40px;
}



/*.reddash {
  background-color: #fb565a;
  width: 26px;
  height: 3px;
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 10px;
}
*/



/*Четвертый блок*/

.logos {
opacity: 0.2;
  width: 1160px;
  margin: 0px auto;
  border-top: 2px solid black;
  border-bottom:2px solid black;
  margin-bottom: 100px;
  margin-top: 75px;
/*background-color: #fb565a;*/
}

.logos a {
    display: inline-block;
    width: 280px;
      }

/*.graydash {
margin-bottom: 60px;
display: inline-block;
height: 52px;
width: 2px;
background-color: black;
}*/

/*Пятый блок*/

.map {
  position: relative;
  width: auto;
  margin: 10px auto 47px auto;
  /**background-color: red;
border: 10px solid black;*/
}


.metka {
  position: absolute;
  right:850px;
  bottom:115px;
}

.adress {

  padding-top: 30px;
  text-align: center;
  position: absolute;
  background-color: white;
  width: 420px;
  height: 278px;
  left:230px;
bottom:60px;

}

/*Шестой блок*/
footer{
  width: 1160px;
  margin: 0 auto;
}

.footersocial{
  display: inline-block;
  width: 300px;
  vertical-align: top;
  /*background-color: red;*/
}
.vk {
    display: inline-block;
    background-color: lightgray;
    width: 78px;
    height: 78px;
    border-radius: 100px;
    margin-right: 14px;
    background-image: url(sprite/social.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
}

.fb {
    display: inline-block;
    background-color: lightgray;
    width: 78px;
    height: 78px;
    border-radius: 100px;
    margin-right: 14px;
    background-image: url(sprite/social.png);
    background-repeat: no-repeat;
    background-position: -165px 1px;
}

.inst {
    display: inline-block;
    background-color: lightgray;
    width: 78px;
    height: 78px;
    border-radius: 100px;
    margin-right: 14px;
    background-image: url(sprite/social.png);
    background-repeat: no-repeat;
    background-position: -90px 1px;
}
.footertext{
  display: inline-block;
  width:700px;
  /*background-color: green;*/
  margin-left: 120px;
  font-weight: bold;
}



/*#vk{height:28px;width:28px;}
#vk{background:url('img/sprite.png') -63px 10px;}

Красный - *#fb565a/

/*ВТОРАЯ СТРАНИЦА*/

/*.text h1 {
width: 1000px;
text-align: center;
margin-bottom: 115px;
margin-top: 85px;
}*/

.main {
  margin: 0 auto;
  width: 1160px;
  border: solid 1px yellow
}
aside {
  display: inline-block;
  width: 260px;
  border: 1px solid red;
}

.sort {
  vertical-align: top;
  display: inline-block;
  width: 760px;
  border: 1px solid green
}

.catalog-items {
  width: 760px;
  display: inline-block;
  border: 1px solid pink;
}

.goods {
  display: inline-block;
  padding-right: 10px;
}
